@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/FontAwesome/../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
		url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
		url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype');
	font-weight: normal;
 	font-style: normal;
}

@font-face{
	font-family: 'Roboto';
	src: url('../fonts/Roboto/RobotoCondensed-Light.ttf') format('truetype');
}

@font-face {
	font-family: "Proxima Nova";
	src: local("Proxima Nova"),
		 url("../fonts/proximanova-regular.otf") format("opentype");
	font-weight: normal;
}

body{
	background: url('../img/background17.png') repeat;
	font-family: "Proxima Nova";
}

main{
	margin-left: 250px;
	overflow: hidden;
}

.mainNav{
	position: fixed;
	display: block;
	left: 0;
	top: 0;
	bottom: 0;
	width: 250px;
	overflow: auto;
}

nav a{
	display: block;
	text-decoration: none;
	font-size: 18px;
	padding: 5px 10px;
	text-transform: uppercase;
	outline: none;
	color: blue;
}

nav a:before{
	font-family: FontAwesome;
	font-size: 18px;
	display: inline-block;
	width: 10px;
	height: 10px;
	content: '';
	margin-right: 10px;
	text-align: center;
}

section > a:hover{ background: rgba(201, 211, 211, .3); }
section > a > span:before{ content: "<"; }
section > a > span:after{ content: ">"; }

section nav{
	display: none;
}

nav.subMenu a{
	color: #CC0066;
	padding-left: 30px;
	font-size: 0.8em;
}

nav.subMenu a:before{
}

section.active nav{
	display: block;
}

section a small{
	font-size: 12px;
	font-style: normal;
	color: grey;
	margin-left: 5px;
	text-transform: none;
}

section a small.hidden{
	display: none;
}