.filters{
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(201, 211, 211, .2);
  width: 20px;
  height: 100%;
  transition: 1s;
  padding: 0 20px;
}

.filters.active{
  width: 200px;
}

.filters label{
  display: block;
}

.filters label{
  cursor: pointer;
}

.filter-list{
  margin-top: 20px;
  margin-left: 10px;
}

.filters .clear_button_wrapper {
  width: 100%;
  padding-top: 15px;
  text-align: center;
}
