body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}

.html5,
.norec,
.rec,
.excl,
.out5,
.out,
.seo,
.def{
  font-family: fontAwesome
}

.html5:before{ color: #32CD32; content: '\f13b'; }
.norec:before{ color: rgba(255, 0, 0, .5); content: '\f088'; }
.rec:before{ color: #32CD32; content: '\f087rec'; }
.excl:before{ color: #32CD32; content: '\f12a'; }
.out5:before{ color: rgba(255, 0, 0, .5); content: '\f13b'; }
.out:before{ color: grey; content: '\f1f8'; }
.seo:before{ color: #1E90FF; content: '\f201'; }
.def:before{ color: #32CD32; content: '\f046'; }
