#menu{
  display: inline-block;
  list-style: none;
  vertical-align: top;
  width: 240px;
  margin: 0;
  background: rgba(201, 211, 211, .2);
  position: fixed;
  overflow: hidden;
}

.mainMenu{
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-item,
.submenu-item{
  position: relative;
  text-transform: uppercase;
}

.menu-item a:hover{
  background: rgba(201, 211, 211, .3);
  color: darkblue;
}

.menu-item:focus a{
  color: #CC0066;
}

.menu-item a{
  position: relative;
  display: block;
  padding: 5px 0 5px 30px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: blue;
  font-family: "Proxima Nova", "Helvetica";
}

.menu-item a strong{
  font-weight: normal;
}

.menu-item a span{
  text-transform: none;
}

.menu-item > i:before,
.submenu-item > i:before{
  position: absolute;
  z-index: 1;
  left: 10px;
  top: 6px;
  margin-right: 5px;
  font-size: 0.8em;
  font-family: FontAwesome;
  opacity: 0.5;
  font-style: normal;
}

.menu-item > i:after,
.submenu-item > i:after{
  display: none;
  font-style: normal;
  text-transform: lowercase;
  font-family: arial;
  font-size: 16px;
}

.menu-item > i:hover:after,
.submenu-item > i:hover:after{
  display: block;
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 25px;
  color: grey;
  background: lightblue;
  border-radius: 5px;
  padding: 10px 20px;
}

.html5:after{ content: 'Появился в HTML5'; }
.norec:after{ content: 'Не рекомендуется использовать'; }
  .rec:after{ content: ''; }
 .excl:after{ content: ''; }
 .out5:after{ content: 'В HTML5 не используется'; }
  .out:after{ content: 'Устарел'; }
  .seo:after{ content: 'Активно используется в SEO'; }
  .def:after{ content: 'Атрибут по-умолчанию'; }

.mainMenu .menu-item span{
  display: inline-block;
  font-size: 0.8em;
  color: grey;
  opacity: 0.3;
  margin-left: 10px;
}

.submenu{
  display: block;
  padding-left: 30px;
  list-style: none;
}

.mainMenu .menu-item:hover span,
.menu-item:hover>i {
    opacity: 1;
}

#svgMenuTag{
  position: fixed;
  width: 240px;
  top: 0px;
  left: 0px;
}
