#menu{
  position: absolute;
  display: inline-block;
  list-style: none;
  vertical-align: top;
  width: 240px;
  margin: 0;
  padding: 20px 0 0 0;
  background: rgba(201, 211, 211, .2);
  position: fixed;
  overflow: hidden;
  height: 600px;
}

.mainMenu{
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-item a:hover{
  background: rgba(201, 211, 211, .3);
  color: darkblue;
}

.menu-item:focus a{
  color: #CC0066;
}

.menu-item a{
  position: relative;
  display: block;
  padding: 5px 0 5px 30px;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  color: blue;
  font-family: "Proxima Nova";
}

.menu-item a strong{
  font-weight: normal;
}

.menu-item a span{
  text-transform: none;
}

.menu-item:before,
.submenu-item:before{
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 6px;
  margin-right: 5px;
  font-size: 0.8em;
  font-family: FontAwesome;
  color: rgba(0, 0, 0, .3);
  opacity: 0.5;
}

.mainMenu .menu-item span{
  display: inline-block;
  font-size: 0.8em;
  color: grey;
  opacity: 0.3;
  margin-left: 10px;
}

.submenu{
  display: block;
  padding-left: 30px;
  list-style: none;
}

.mainMenu .menu-item:hover span,
.mainMenu .menu-item:hover:before {
    opacity: 1;
}

.menu-item,
.submenu-item{
  position: relative;
  text-transform: uppercase;
}

#svgMenuTag{
  position: fixed;
  top: 0px;
  left: 0px;
}
